.board {
    display: grid;
    grid-template-columns: repeat(8, [file-start] 49px [file-end]);
    grid-template-columns: repeat(8, [rank-start] 49px [rank-end]);
    place-items: center;
}

.square {
    width: 49px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.piece {
    position: absolute;
}