.lobby {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
}

.history {
    width: min(100%, 24em);
}

.chat {
    width: min(100%, 24em);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.messages {
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
}

.board {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 12em;
}

.loadingCover {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.6);
}